@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-Regular.eot');
    src: url('fonts/MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonumentExtended-Regular.woff2') format('woff2'),
         url('fonts/MonumentExtended-Regular.woff') format('woff'),
         url('fonts/MonumentExtended-Regular.ttf')  format('truetype'),
         url('fonts/MonumentExtended-Regular.svg#Monument Extended') format('svg');
}